<main class="home grid__scroll-area p-20 bg-dark text-light">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo molestias eos voluptas in corporis, libero qui
    eligendi ipsum quae dolorum tenetur laudantium pariatur, culpa minima officia fugit sunt? Adipisci, dignissimos!</p>
  <p>Hic atque explicabo quam quod nesciunt ipsum delectus vitae consequuntur doloremque consectetur et repellat, iure
    animi, nostrum earum veritatis expedita. Provident ullam sequi aspernatur tempora modi suscipit consequuntur, est
    aliquid.</p>
  <p>Temporibus perferendis, voluptatem sequi itaque magnam, tempore doloribus voluptates dolor cupiditate consectetur
    animi voluptatum. Consequuntur, eum aliquam ipsam expedita vitae voluptatibus. Eveniet velit nam cum maiores
    laudantium, ipsum dicta assumenda.</p>
  <p>Vitae repudiandae ea quas nam at maiores molestiae maxime distinctio adipisci sit. Magni autem, modi vel
    voluptatem neque voluptas impedit dolore exercitationem omnis veritatis animi eligendi nisi minus voluptate unde?</p>
  <p>Doloribus debitis distinctio et eaque cupiditate, assumenda aliquid reiciendis a quia sapiente, alias, at facilis
    fuga commodi. Rem ut, eligendi illum ducimus natus ea numquam dolor repudiandae veniam! Laudantium, omnis.</p>
  <p>Quasi sapiente accusantium, et nihil neque soluta distinctio harum tempora asperiores iste incidunt. Id
    repellendus, laboriosam velit optio quis deserunt quo, possimus rem aperiam minus dolor consequuntur! Ullam,
    delectus esse.</p>
  <p>Impedit nemo doloribus dignissimos distinctio accusantium mollitia ipsa fugiat nulla, accusamus veritatis adipisci
    maxime odit ex magnam quo. Aperiam, consectetur voluptate enim expedita similique numquam sunt impedit sequi
    voluptatibus. Non?</p>
  <p>Necessitatibus voluptate autem officiis, velit exercitationem obcaecati optio harum aspernatur! Ab odio quasi in,
    sint, dicta repellat placeat cumque accusantium nemo itaque optio aspernatur hic consectetur adipisci. Unde, totam
    enim?</p>
  <p>Odit, id modi minus praesentium excepturi facere ullam dolores necessitatibus, labore, quos molestiae delectus
    aperiam. Voluptatibus magni odit placeat debitis accusantium! Nisi eaque ducimus corrupti eligendi similique
    architecto nemo voluptas?</p>
  <p>Dolore cupiditate odit nostrum, tempora maiores sint eum. Nesciunt, reiciendis. Ipsa ducimus impedit quidem ea
    nemo iusto a quae doloremque. Qui quas corporis, corrupti deserunt provident dolores rem id minus.</p>
</main>
