<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Impressum</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="imprint grid">
  <h1>Impressum!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vel expedita sint sunt modi maiores obcaecati aut consectetur minus culpa ad, nemo itaque, soluta alias porro. Architecto repellendus voluptatum laborum!
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est placeat autem inventore expedita consequatur voluptate officia aperiam cumque dolores pariatur officiis suscipit magnam praesentium, libero cupiditate enim ex optio quibusdam!</p>
  </p>
</body>

</html>
